[submodule "ptviewer/scripts/jParser"]
	path = ptviewer/scripts/jParser
	url = https://github.com/vjeux/jParser
[submodule "ptviewer/scripts/jBinary.Repo"]
	path = ptviewer/scripts/jBinary.Repo
	url = https://github.com/jDataView/jBinary.Repo
[submodule "ptviewer/scripts/jDataView"]
	path = ptviewer/scripts/jDataView
	url = https://github.com/jDataView/jDataView
[submodule "ptviewer/scripts/jBinary"]
	path = ptviewer/scripts/jBinary
	url = https://github.com/jDataView/jBinary
